.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
